@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=3af16084-ba56-49ca-b37d-0b49b59e1927");
/* line 17, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/share/gems/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'staticregular';
  src: url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/static-webfont.eot);
  src: url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/static-webfont.eot?#iefix) format("embedded-opentype"), url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/static-webfont.woff) format("woff"), url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/static-webfont.ttf) format("truetype"), url(//cartodb-assets.global.ssl.fastly.net/odyssey.js/static-webfont.svg#staticregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../sass/screen.scss */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica;
  background: #EEE;
}

/* line 27, ../sass/screen.scss */
#template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 37, ../sass/screen.scss */
.h-valign:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
  margin-left: -5px;
}

/* line 47, ../sass/screen.scss */
.splash {
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  min-width: 800px;
}
/* line 55, ../sass/screen.scss */
.splash .share_template {
  background: #fff;
  padding: 40px;
  width: 500px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}
/* line 62, ../sass/screen.scss */
.splash .share_template textarea {
  border: 0;
  width: 100%;
  font: 14px Helvetica, Arial;
  color: #666;
  height: auto;
  margin-bottom: 40px;
}
/* line 72, ../sass/screen.scss */
.splash .splash_inner, .splash .inner-template {
  display: inline-block;
  vertical-align: middle;
}
/* line 77, ../sass/screen.scss */
.splash .splash_inner {
  position: relative;
}
/* line 80, ../sass/screen.scss */
.splash .inner-template {
  margin: 0 30px;
}
/* line 82, ../sass/screen.scss */
.splash .closeButton {
  position: absolute;
  top: 11px;
  right: 11px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
/* line 89, ../sass/screen.scss */
.splash .closeButton:hover {
  color: #fff;
}
/* line 94, ../sass/screen.scss */
.splash h1 {
  font: 31px 'staticregular';
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
}
/* line 100, ../sass/screen.scss */
.splash p {
  font: normal 19px 'staticregular';
  color: #AEAEAE;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
/* line 106, ../sass/screen.scss */
.splash p.last {
  margin-bottom: 80px;
}
/* line 110, ../sass/screen.scss */
.splash p a {
  color: #AEAEAE;
  color: rgba(255, 255, 255, 0.7);
}
/* line 119, ../sass/screen.scss */
.splash .template_list .button-template {
  display: inline-block;
  margin-top: 2px;
  border: 2px solid #EC6258;
  padding: 6px 16px;
  color: #EC6258;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font: normal 19px 'staticregular';
  text-transform: uppercase;
}
/* line 134, ../sass/screen.scss */
.splash .template_list .button-template:hover, .splash .template_list .button-template.zeroclipboard-is-hover {
  background: #EC6258;
  color: #fff;
}
/* line 140, ../sass/screen.scss */
.splash .template_list > li {
  position: relative;
  width: 290px;
  height: 140px;
  padding: 125px 0 30px;
  color: #444;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 154, ../sass/screen.scss */
.splash .template_list > li p {
  color: #444;
  font: normal 19px 'staticregular';
  margin: 0 0 20px 0;
}
/* line 156, ../sass/screen.scss */
.splash .template_list > li .anim {
  display: block;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 134px;
}
/* line 166, ../sass/screen.scss */
.splash .template_list > li:first-child {
  margin: 0;
}

/* line 172, ../sass/screen.scss */
#copy-button {
  width: 65px;
}

/* line 176, ../sass/screen.scss */
#editor_modal {
  background: #fff;
  position: absolute;
  right: 40px;
  top: 40px;
  bottom: 80px;
  width: 452px;
  text-align: left;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  min-height: 330px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 189, ../sass/screen.scss */
#editor_modal.expanded {
  width: 720px;
}
/* line 193, ../sass/screen.scss */
#editor_modal .error {
  text-align: center;
  background-color: #FFCCCC;
  color: #F00;
  position: absolute;
  padding: 10px;
  z-index: 2;
  font-size: 12px;
  letter-spacing: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 211, ../sass/screen.scss */
#editor_modal div.header {
  position: relative;
  background: #ff7373;
  color: white;
  line-height: 1em;
  margin: 0;
  padding: 22px 20px 20px 16px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 220, ../sass/screen.scss */
#editor_modal div.header a.expandButton {
  background: transparent url('/images/expandButtonIcon.png') no-repeat 0 0;
  padding: 4px 13px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
/* line 227, ../sass/screen.scss */
#editor_modal div.header a.expandButton:hover {
  background-position: 0 -28px;
}
/* line 231, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded {
  background-position: -27px 0;
}
/* line 234, ../sass/screen.scss */
#editor_modal div.header a.expandButton.expanded:hover {
  background-position: -27px -28px;
}
/* line 240, ../sass/screen.scss */
#editor_modal div.header h1 {
  display: inline;
  width: auto;
  margin: 0 0 0 35px;
  font: 19px 'staticregular';
  text-transform: uppercase;
}
/* line 248, ../sass/screen.scss */
#editor_modal div.header #show_slide {
  position: absolute;
  top: 22px;
  right: 20px;
  font: 14px 'staticregular';
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  color: #FFF;
  text-decoration: none;
}
/* line 259, ../sass/screen.scss */
#editor_modal div.header #show_slide:after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 26px;
  vertical-align: middle;
  background: url('/images/EditButtonIcon.png') no-repeat 0 0;
  margin-left: 8px;
  opacity: .6;
}
/* line 269, ../sass/screen.scss */
#editor_modal div.header #show_slide:hover:after {
  opacity: 1;
}
/* line 275, ../sass/screen.scss */
#editor_modal #actions_bar {
  position: absolute;
  left: 0;
  width: 55px;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 284, ../sass/screen.scss */
#editor_modal #actions_bar:before {
  content: "";
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  height: 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  /* Chrome,Safari4+ */
  background: linear-gradient(to top, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#f2f2f2', startColorstr='#00f2f2f2', GradientType=0 );
  /* IE6-9 */
  z-index: 3;
  pointer-events: none;
}
/* line 298, ../sass/screen.scss */
#editor_modal #actions_bar:after {
  content: "";
  position: absolute;
  bottom: 53px;
  right: 0;
  left: 0;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgbargba(0, 0, 0, 0.05)));
  /* Chrome,Safari4+ */
  background: linear-gradient(to bottom, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2f2f2', endColorstr='#f2f2f2', GradientType=0 );
  /* IE6-9 */
  z-index: 3;
  pointer-events: none;
}
/* line 314, ../sass/screen.scss */
#editor_modal #actions_bar.collapseActions:before, #editor_modal #actions_bar.collapseActions:after {
  display: none;
}
/* line 320, ../sass/screen.scss */
#editor_modal textarea, #editor_modal .CodeMirror {
  position: absolute;
  top: 66px;
  bottom: 53px;
  left: 0;
  right: 0;
  height: auto;
  color: rgba(0, 0, 0, 0.9);
  background: transparent;
  font-family: monospace;
  font-size: 14px;
  padding: 20px 20px 20px 72px;
  overflow-x: hidden;
}
/* line 334, ../sass/screen.scss */
#editor_modal .CodeMirror:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 56px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(30%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, #ffffff 30%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  z-index: 2;
  pointer-events: none;
}
/* line 348, ../sass/screen.scss */
#editor_modal .CodeMirror:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 56px;
  height: 30px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(30%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, #ffffff 30%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ffffff', startColorstr='#00ffffff', GradientType=0 );
  /* IE6-9 */
  z-index: 3;
  pointer-events: none;
}
/* line 362, ../sass/screen.scss */
#editor_modal .CodeMirror-scroll {
  padding-bottom: 45px;
}
/* line 366, ../sass/screen.scss */
#editor_modal .actionButton {
  position: absolute;
  background-color: #d1d1d1;
  padding: 2px 3px 1px 3px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  color: #FFF;
  font-size: 8px;
  text-transform: uppercase;
}
/* line 375, ../sass/screen.scss */
#editor_modal .actionButton:hover {
  background-color: #afafaf;
  cursor: pointer;
}

/* line 382, ../sass/screen.scss */
#actionDropdown {
  position: relative;
  min-width: 150px;
  z-index: 20;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #B7B7B7;
  padding: 0 10px;
  color: #666;
}
/* line 394, ../sass/screen.scss */
#actionDropdown:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 15px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 1;
}
/* line 405, ../sass/screen.scss */
#actionDropdown:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0;
  left: 15px;
  top: -17px;
  border: 8px solid transparent;
  border-bottom: 8px solid #B7B7B7;
}
/* line 416, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  padding-bottom: 10px;
}
/* line 420, ../sass/screen.scss */
#actionDropdown li {
  list-style: none;
  border-bottom: 1px solid #EDEDED;
  padding: 10px 0;
  font-size: 12px;
}
/* line 425, ../sass/screen.scss */
#actionDropdown li:hover {
  cursor: pointer;
  color: #000;
}
/* line 430, ../sass/screen.scss */
#actionDropdown li:first-child {
  padding-top: 10px;
}
/* line 434, ../sass/screen.scss */
#actionDropdown li:last-child {
  border-bottom: 0px;
  margin: 0;
}
/* line 441, ../sass/screen.scss */
#actionDropdown.drop-top:before {
  border-bottom: 8px solid transparent;
  border-top: 8px solid #fff;
  top: auto;
  left: 15px;
  bottom: -16px;
}
/* line 448, ../sass/screen.scss */
#actionDropdown.drop-top:after {
  border-bottom: 8px solid transparent;
  border-top: 8px solid #B7B7B7;
  top: auto;
  left: 15px;
  bottom: -17px;
}
/* line 457, ../sass/screen.scss */
#actionDropdown img {
  height: 28px;
  width: 28px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 464, ../sass/screen.scss */
#actionDropdown span {
  line-height: 28px;
  vertical-align: top;
}

/* line 471, ../sass/screen.scss */
.options {
  background: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 480, ../sass/screen.scss */
.options .h-left {
  float: left;
}
/* line 483, ../sass/screen.scss */
.options .h-left li {
  margin-left: 20px;
}
/* line 487, ../sass/screen.scss */
.options .h-right {
  float: right;
}
/* line 488, ../sass/screen.scss */
.options li {
  display: inline-block;
  margin-left: 8px;
}
/* line 491, ../sass/screen.scss */
.options li:first-child {
  margin: 0;
}
/* line 495, ../sass/screen.scss */
.options a,
.options div {
  display: inline-block;
  width: 33px;
  height: 33px;
  display: inline-block;
  opacity: .8;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
/* line 506, ../sass/screen.scss */
.options a:hover,
.options div:hover {
  opacity: 1;
}
/* line 510, ../sass/screen.scss */
.options a img,
.options div img {
  width: 100%;
}

/* line 516, ../sass/screen.scss */
a.basemapSelector {
  width: auto;
  text-decoration: none;
  font-size: 13px;
  line-height: 31px;
  color: #ababab;
  text-decoration: none;
}
/* line 524, ../sass/screen.scss */
a.basemapSelector img {
  height: 31px;
  width: 31px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 532, ../sass/screen.scss */
a.basemapSelector span {
  vertical-align: top;
  line-height: 33px;
  margin-left: 8px;
}

/* line 539, ../sass/screen.scss */
a.downloadButton {
  background: transparent url('/images/downloadButtonIcon.png') no-repeat 0 0;
}

/* line 543, ../sass/screen.scss */
a.helpButton {
  background: transparent url('/images/helpButtonIcon.png') no-repeat 0 0;
}

/* line 547, ../sass/screen.scss */
a.shareButton {
  background: transparent url('/images/shareButtonIcon.png') no-repeat 0 0;
}

/* line 551, ../sass/screen.scss */
a.collapseButton {
  background: transparent url('/images/collapseButtonIcon.png') no-repeat 0 0;
}

/* line 555, ../sass/screen.scss */
a.expandButton {
  background: transparent url('/images/expandToogleButtonIcon.png') no-repeat 0 0;
}

/* line 559, ../sass/screen.scss */
.shareInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0;
  padding: 5px;
  outline: none;
  height: 31px;
  font: 14px/31px Helvetica, Arial;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 573, ../sass/screen.scss */
.shareInput:focus {
  border: 1px solid #ccc;
}

/* line 578, ../sass/screen.scss */
.input_field {
  position: relative;
  display: inline-block;
  float: left;
  width: 360px;
  height: 48px;
  margin-right: 10px;
}

/* line 587, ../sass/screen.scss */
.mode_menu {
  position: absolute;
  top: 2px;
  right: -10px;
  width: 115px;
  background: #fff;
}
/* line 594, ../sass/screen.scss */
.mode_menu li.first a {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 598, ../sass/screen.scss */
.mode_menu li.last a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 603, ../sass/screen.scss */
.mode_menu li.selected a,
.mode_menu li a:hover {
  background: #EC6258;
  color: #fff;
}
/* line 608, ../sass/screen.scss */
.mode_menu li.selected a:hover {
  background: #e94c41;
}
/* line 613, ../sass/screen.scss */
.mode_menu a {
  display: block;
  float: right;
  width: 55px;
  margin-left: 1px;
  font-weight: bold;
  font-size: 11px;
  line-height: 39px;
  text-transform: uppercase;
  text-decoration: none;
  background: #eee;
  color: #FF7373;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
